{% extends 'master.html' %}
{% load static %}
{% block content %}
    <h1 class="home-heading text-info text-center">WELCOME TO O'MY ECOMMERCE</h1>
    <h3 class="text-info">Why O'MY Ecommerce</h3>
    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias, culpa deleniti deserunt distinctio eos eum explicabo iste molestias nobis perspiciatis placeat provident
        quidem, ratione rerum sequi veniam voluptate!</p>
    <p class="text-success paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque eum iste similique voluptatibus! Accusantium esse eum harum! Accusamus eaque iste nemo odit pariatur perferendis
        provident quia quidem rerum! Magnam.</p>
{% endblock %}